    .Table {
        height: 350px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        direction: rtl;
        border-spacing: 0;
    }
    
    .Table>tbody {
        background: #63B4E0;
    }
    
    #up,
    #down {
        border: 1px solid;
    }
    
    .Red {
        width: 80%;
        background: red;
        height: 12px;
        direction: rtl;
        position: absolute;
    }
    
    #upper {
        top: 43.5%;
        z-index: 5;
    }
    
    .CurrentLevel {
        width: 100%;
        background: #63B4E0;
        position: absolute;
        bottom: 0;
    }
    
    .wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        z-index: 1;
        top: 50%;
        /* border-radius: 5px; */
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        overflow: hidden;
    }
    
    .wave {
        width: 1000px;
        height: 972px;
        position: absolute;
        top: -25%;
        left: 50%;
        margin-left: -500px;
        margin-top: -500px;
        border-radius: 35%;
        background: rgba(255, 255, 255, .75);
        animation: wave 15s infinite linear;
    }
    
    @keyframes wave {
        from {
            transform: rotate(0deg);
        }
        from {
            transform: rotate(360deg);
        }
    }
    
    #lower {
        top: 86%;
    }
    
    .Table>tbody>tr {
        height: -1px;
    }
    
    .White {
        background: white !important;
    }