.Information {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.box-meter {
    padding: 10px;
    border: 1px solid #58D97C;
    width: 35%;
    font-weight: 500;
    color: white;
    background: #58D97C;
    font-size: 20px;
    margin: 15px auto 20px auto;
}

.description {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.title {
    padding-top: 20px;
}

.z-index {
    z-index: 6;
}

body {
    background: #333;
}